services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: finance-backend-prod
    volumes:
      - ./backend/db:/app/db
      - backend-static:/app/staticfiles
    env_file:
      - .env.prod
    environment:
      - DJANGO_SETTINGS_MODULE=settings
      - PYTHONUNBUFFERED=1
    command: sh -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:8000 wsgi:application"
    restart: always
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: finance-frontend-prod
    ports:
      - "80:80"   
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

volumes:
  backend-static:

networks:
  app-network:
    driver: bridge
